@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}

/* common style */
:root{
    --primary-color: #FEA301;
    --secondry-color: #01ACFD;
    --black-color: #111111;
    --white-color: #FFFF;
    --cardOne-bg: #DEF5FF;
    --cardtwo-bg: #FFF4DC;
    --cardthree-bg: #F2E8FF;
}

.container{
    width: 1160px;
    margin: auto;
}
.btn{
    background-color: var(--secondry-color);
    color: var(--white-color);
    border: 0px;
    border-radius: 16px;
    padding: 18px 40px;
    font-size: 20px;
    font-weight: 600;
}

/* -----header style open----- */
/* nav style open */
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 3px;
}
.logo-title{
    font-size: 32px;
    font-weight: 700;
}
.nav-menu{
    display: flex;
    gap: 16px;
    list-style: none;
}
.nav-menu li{
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li:first-child{
    color: #51f074;
}

.menu-li{
    color: #e268e2;
}
.nav-menu li:last-child{
    color: #01ACFD;
}
.fa-solid{
    font-size: 27px;
}
.mobile-menu{
    display: none;
}

/* banner */
.banner-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px;
}
.banner-title{
    font-size: 58px;
    font-weight: 700;
}
.banner-first-title{
    color: var(--secondry-color);
}
.banner-last-title{
    color: var(--primary-color);
}
.banner-dec{
    font-size: 20px;
    font-weight: 400;
    padding: 24px 0px;
}
.banner-btn{
    background-color: var(--black-color);
}
.banner-img{
    width: 100%;
}


/* -----main style open----- */


/* -----footer style open----- */


/* responsive style all section */
@media screen and (max-width: 570px){
    body{
        overflow: hidden;
    }
    .container{
        width: 100%;   
    }
    .header-main{
        padding: 0px 8px;
    }
    /* -------header section------ */
    .header-main{
        border-bottom: 2px solid orange;
        padding: 10px 8px;
    } 
    .nav-logo{
        width: 40px;
        height: 40px;
    }
    .logo-title{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    .mobile-menu{
        display: flex;
    }
    .nav-btn{
        display: none;
    }
    /* ------banner----- */
    .banner-main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        padding: 30px 8px;
    }
    .banner-img{
        width: 100%;
    }
    .banner-title{
        font-size: 32px;
        font-weight: 600;
        text-align: center;
    }
    .banner-dec{
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    .banner-right{
        padding: 16px;
    }
    .banner-left{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    


}